@{
    ViewData["Title"] = "Mi primera vista";
    string autor = "Escriba su nombre";
    int edad = 25;

}
<html>
    <head>
        <title>@ViewBag.Title</title>

    </head>
    <body>
        <div>
            <h1>Modificando una vista</h1>
            <p>
                <strong>Yo soy: </strong> @autor<br/>
                Mi edad es <input type= "number" value= "@edad" placeholder="Escriba su edad"/>
            </p>
        </div>
        <div>
            <label>Pertenezco al equipo de PI llamado: </label>   
            <input type="text" placeholder="nombre"/>
       </div>
        <div>
            <label> Mi carné es: </label>
            <input type="number" placeholder = "Escriba su carné"/>
        </div>

    </body>

</html>
